@model SignInViewModel

<form
    asp-controller="@AuthenticationController.ControllerName"
    asp-action="@AuthenticationController.LoginActionName"
    asp-route-redirectUri="@ViewData[RazorConstants.ViewData.RedirectUri]">
    <div>
        <label asp-for="Email">Email address</label>
        <input type="email" asp-for="Email" placeholder="Enter email" tabindex="1">
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" placeholder="Password" tabindex="2">
    </div>
    <div>
        <button type="submit" tabindex="3">Submit</button>
    </div>
</form>
