<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>AdaClientX</title>

    @await RenderSectionAsync("styles", false)
</head>

<body dir="ltr" class="@(ViewData[RazorConstants.ViewData.BodyClass]?.ToString() ?? "")">

    <main role="main" class="@(ViewData[RazorConstants.ViewData.MainClass]?.ToString() ?? "")">
        @RenderBody()
    </main>

    @await RenderSectionAsync("scripts", false)
</body>

</html>
